# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vercel
/knowledge.html
/compress-to-100kb.html
/compress-to-200kb.html
/application-photo.html
/one-inch-photo.html
/avatar-compressor.html
/jpg-to-webp.html
